In [1]:
# !pip install nltk

In [2]:
import numpy as np
import pandas as pd

import nltk
# nltk.download('popular')

from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

## Sentence Tokenization

In [3]:
text = '''Backgammon is one of the oldest known board games.
Its history can be traced back nearly 5,000 years to archeological discoveries in the Middle East. 
It is a two player game where each player has fifteen checkers which move between twenty-four points according to the roll of two dice.'''

sentences = nltk.sent_tokenize(text)
for sentence in sentences:
    print(sentence)

Backgammon is one of the oldest known board games.
Its history can be traced back nearly 5,000 years to archeological discoveries in the Middle East.
It is a two player game where each player has fifteen checkers which move between twenty-four points according to the roll of two dice.

## Word Tokenization

In [4]:
for sentence in sentences:
    words = nltk.word_tokenize(sentence)
    print(words)

['Backgammon', 'is', 'one', 'of', 'the', 'oldest', 'known', 'board', 'games', '.']
['Its', 'history', 'can', 'be', 'traced', 'back', 'nearly', '5,000', 'years', 'to', 'archeological', 'discoveries', 'in', 'the', 'Middle', 'East', '.']
['It', 'is', 'a', 'two', 'player', 'game', 'where', 'each', 'player', 'has', 'fifteen', 'checkers', 'which', 'move', 'between', 'twenty-four', 'points', 'according', 'to', 'the', 'roll', 'of', 'two', 'dice', '.']

## Text Lemmatization and Stemming

In [5]:
def compare_stemmer_and_lemmatizer(stemmer, lemmatizer, word, pos):
    """
    Print the results of stemmind and lemmitization using the passed stemmer, lemmatizer, word and pos (part of speech)
    """
    print("Stemmer:", stemmer.stem(word))
    print("Lemmatizer:", lemmatizer.lemmatize(word, pos))
    print()

In [6]:
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

compare_stemmer_and_lemmatizer(stemmer, lemmatizer, word = "seen", pos = wordnet.VERB)
compare_stemmer_and_lemmatizer(stemmer, lemmatizer, word = "drove", pos = wordnet.VERB)

Stemmer: seen
Lemmatizer: see

Stemmer: drove
Lemmatizer: drive

## Stopwords

In [7]:
print(stopwords.words("english"))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [8]:
stop_words = set(stopwords.words("english"))
sentence = "Backgammon is one of the oldest known board games."

In [9]:
words = nltk.word_tokenize(sentence)
without_stop_words = []
for word in words:
    if word not in stop_words:
        without_stop_words.append(word)

print(without_stop_words)

['Backgammon', 'one', 'oldest', 'known', 'board', 'games', '.']

## Regex

In [10]:
import re

In [11]:
sentence = "The development of snowboarding was inspired by skateboarding, sledding, surfing and skiing."
pattern = r"[^\w]"
print(re.sub(pattern, " ", sentence))

The development of snowboarding was inspired by skateboarding  sledding  surfing and skiing

## Bag of Words

### Load data

In [28]:
documents = pd.read_csv("movie_review.csv")['text'].sample(1000)
print(documents)

39797    gene hackman is utterly wasted in a one-note ,...
1928     in the special edition , even more ships are a...
5637     but merge the two and you've got the truman sh...
29991    filled with ditzy blonde ambition , it's a mov...
10214    this dog of flanders may only be a little `fam...
                               ...
55558    ok , this time our hero does get himself a gun...
37741                                 it never takes off .
25879    buzz lightyear ( tim allen ) leads hamm ( john...
58485    she still hasn't forgiven the guy as they boar...
63078    the event weighs heavily on his conscience and...
Name: text, Length: 1000, dtype: object

#### Design Vocab

In [29]:
# Design the Vocabulary
# The default token pattern removes tokens of a single character. That's why we don't have the "I" and "s" tokens in the output
count_vectorizer = CountVectorizer()

In [30]:
# Create the Bag-of-Words Model
bag_of_words = count_vectorizer.fit_transform(documents)

In [31]:
# Show the Bag-of-Words Model as a pandas DataFrame
feature_names = count_vectorizer.get_feature_names_out()
bow_df = pd.DataFrame(bag_of_words.toarray(), columns = feature_names,dtype='uint8')
bow_df

,000,10,102,12,123,1298,13,13th,15,16,...,yourself,yuck,yup,zachary,zane,zardoz,zed,zellwegger,zero,zip
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
cols = ['awesome','funny','hate','love','movie','nice']

In [43]:
bow_df[cols]

     awesome  funny  hate  love  movie  nice
0          0      0     0     0      0     0
1          0      0     0     0      0     0
2          0      0     0     0      0     0
3          0      0     0     0      1     0
4          0      0     0     0      1     0
..       ...    ...   ...   ...    ...   ...
995        0      0     0     0      0     0
996        0      0     0     0      0     0
997        0      0     0     0      0     0
998        0      0     0     0      0     0
999        0      0     0     0      0     0

[1000 rows x 6 columns]

## TF-IDF

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

tfidf_vectorizer = TfidfVectorizer()
values = tfidf_vectorizer.fit_transform(documents)

# Show the Model as a pandas DataFrame
feature_names = tfidf_vectorizer.get_feature_names_out()
tfidf_df = pd.DataFrame(values.toarray(), columns = feature_names)
tfidf_df

,000,10,102,12,123,1298,13,13th,15,16,...,yourself,yuck,yup,zachary,zane,zardoz,zed,zellwegger,zero,zip
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
tfidf_df[cols]

     awesome  funny  hate  love     movie  nice
0        0.0    0.0   0.0   0.0  0.000000   0.0
1        0.0    0.0   0.0   0.0  0.000000   0.0
2        0.0    0.0   0.0   0.0  0.000000   0.0
3        0.0    0.0   0.0   0.0  0.147771   0.0
4        0.0    0.0   0.0   0.0  0.115810   0.0
..       ...    ...   ...   ...       ...   ...
995      0.0    0.0   0.0   0.0  0.000000   0.0
996      0.0    0.0   0.0   0.0  0.000000   0.0
997      0.0    0.0   0.0   0.0  0.000000   0.0
998      0.0    0.0   0.0   0.0  0.000000   0.0
999      0.0    0.0   0.0   0.0  0.000000   0.0

[1000 rows x 6 columns]